/* Basics */

* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

img {
  height: 30vh;
  width: 20vw;
  object-fit: fill;
}

body {
  background-color: rgba(221, 215, 215, 0.158);
}

img:hover {
  scale: 1.1;
}

h1 {
  margin-top: 1vw;
  font-size: 3.5rem;
  text-align: center;
}

header h3 {
  font-size: 2rem;
}

.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 5rem;
}

main,
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

main {
  margin-top: 3vw;
}

form input {
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid grey;
  cursor: pointer;
}
form input:hover {
  scale: 1.2;
  background-color: black;
  color: white;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  img {
    height: 20vh;
    width: 20vw;
  }
}

@media only screen and (max-width: 567px) {
  img {
    height: 15vh;
    width: 25vw;
  }
  .img-box {
    gap: 1.5rem;
  }
}
